h1{
    color:rgb(255, 8, 0);
    margin-left: 30px;

    
    }
   .header *{
       border:solid
   }
   
    .header{
        background-color:rgb(19, 247, 255);
        display:flex;
        justify-content:space-between 

    }
    .grid{
       display:flex;
       justify-content:space-evenly;
       flex-wrap: wrap;
    }
    .footer{
display:flex;
justify-content: flex-end;
    }
    body{
        background-color:coral 976655
    }
    a:link{
        color:crimson
    }
    a:visited{
        color:crimson
    }
    .menu{
        margin-right: 30px
    }
    .menu a{
        margin-left: 30px
    }
    .item{
        position: relative;
    }
    .item p{
        position:absolute;
        top:50%;
        left:50%;
        transform:translate(-50%,-50%);
        opacity: 0;
    }
    .item:hover p{
        opacity: 1;
    }
    .item:hover img{
        opacity: 0.3;
    }